services:
  db:
    image: postgres:16
    container_name: reco-postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - reco_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"   # utile si ton Spring Boot tourne hors Docker

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"

volumes:
  reco_data:
